* {
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
.newsContainer{
  margin-top: 80px;
  display: grid;
  grid-template-rows: 1fr;
}
.imgContainer{
    grid-template-rows: 1/2; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
 }
 .img{
   max-width: 100%;
   
 }

.containerPar{
  grid-template-rows: span2;
  padding: 20px;
  text-align: center;
}
 h1{
   position: absolute;
   color: azure;
   text-shadow: 0 0 3px black;
   padding: 10px;
   text-align: center;
   margin: 35px;
   font-size: 2em;
 }

 .foot{
   height: 150px;
   background-color: brown;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .box {
   padding: 10px;
   height: 100px;
   width: 100px;
   background-color: rgb(109, 12, 32);
   box-shadow: 0 0 3px rgb(255, 216, 216);
   color: aliceblue;
   text-align: center;
   }