* {
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
.newsContainer{
  margin-top: 80px;
  display: grid;
  grid-template-rows: 1fr;
}

.imgContainer{
    grid-row: 1/2; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
 }
 .img{
   max-width: 100%;
   
 }


 h1{
   position: absolute;
   color: azure;
   text-shadow: 0 0 3px black;
   padding: 10px;
   text-align: center;
   margin: 35px;
   font-size: 2em;
 }

 .containerPar{
  grid-row: span 2;
  padding: 20px;
  text-align: left;
 }

 .containerPar p {
   margin: 15px;
   text-indent: 20px;
   text-align: justify;
}

 
@media screen and (min-width: 480px) {
  .containerPar p {
   margin-left: 100px;
   margin-right: 100px;
  }
}
  .ads{
   
   height: 200px;
   background-color: brown;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 
 @media screen and (max-width: 480px) {
  .ads {
     flex-direction: column;
     height: 500px;
     text-align: center;
     color: white;
  }
}
 .box {
   padding: 10px;
   height: 100px;
   width: 100px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 3px rgb(255, 216, 216);
   color: rgb(63, 6, 6);
   border-radius: 5px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .box:hover {
  padding: 10px;
  height: 110px;
  width: 110px;
  background-color: rgb(143, 0, 0);
  box-shadow: 0 0 3px rgb(255, 216, 216);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 100ms
 }


 .foot {
   text-align: center;
   padding: 30px;
   
 }

 .foot h3{
   font-size: 21px;
   text-align: center;
 }

a{
  text-decoration: none;
  color: brown;  
}

a:hover{
  text-decoration: none;
  color: white;
}